{{include "top.html"}}
<!-- CSS and JavaScript Files -->
<link rel="stylesheet" type="text/css" href="/brickbreaker/brickbreaker.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js"></script>

<div class="title">Brick Breaker</div>

<script src="/brickbreaker/slider.js"></script>
<script src="/brickbreaker/ball.js"></script>
<script src="/brickbreaker/brick.js"></script>
<script src="/brickbreaker/shrink.js"></script>
<script src="/brickbreaker/expand.js"></script>
<script src="/brickbreaker/bomb.js"></script>
<script src="/brickbreaker/upgrades.js"></script>
<script src="/brickbreaker/brickbreaker.js"></script>


<!--
<div class="newGame">
	<button onclick='setup();'>{{print translate "new game"}}</button>
</div>-->
{{include "bottom.html"}}