{{include "top.html"}}
<link rel="stylesheet" type="text/css" href="/chickenkiller/style.css">
<script src="/chickenkiller/script.js"></script>

<h1>Chicken Killer</h1>
<div id="game">
    <img src="/chickenkiller/background.png" id="background"></img>
    <img src="/chickenkiller/foreground.png" id="foreground"></img>
    <img src="/chickenkiller/chicken.png" class="chicken" id="chicken-0"></img>
    <img src="/chickenkiller/chicken.png" class="chicken" id="chicken-1"></img>
    <img src="/chickenkiller/chicken.png" class="chicken" id="chicken-2"></img>
    <img src="/chickenkiller/chicken.png" class="chicken" id="chicken-3"></img>
    <img src="/chickenkiller/chicken.png" class="chicken" id="chicken-4"></img>
    <img src="/chickenkiller/chicken.png" class="chicken" id="chicken-5"></img>
    <img src="/chickenkiller/chicken.png" class="chicken" id="chicken-6"></img>
    <img src="/chickenkiller/chicken.png" class="chicken" id="chicken-7"></img>
    <img src="/chickenkiller/gnome.png" class="gnome" id="gnome-0"></img>
    <img src="/chickenkiller/gnome.png" class="gnome" id="gnome-1"></img>
    <img src="/chickenkiller/gnome.png" class="gnome" id="gnome-2"></img>
    <img src="/chickenkiller/gnome.png" class="gnome" id="gnome-3"></img>
    <img src="/chickenkiller/gnome.png" class="gnome" id="gnome-4"></img>
    <img src="/chickenkiller/gnome.png" class="gnome" id="gnome-5"></img>
    <img src="/chickenkiller/gnome.png" class="gnome" id="gnome-6"></img>
    <img src="/chickenkiller/gnome.png" class="gnome" id="gnome-7"></img>
    <div id="start">
        <h2>Howdy</h2>
        <p>This game is very simple. Kill the chickens, don't kill the gnomes. Got it?</p>
        <button class="start">Let's Go!</button>
    </div>
    <div id="gameover">
        <h2>Game Over</h2>
        <p>Whoa, this wasn't very impressive, your score was only <span class="score"></span>. You should try again.</p>
        <button class="start">Restart!</button>
    </div>
    <div id="overlay">
        <p>
            Score: <span class="score"></span><br/>
            <span class="health"></span>
        </p>
    </div>
</div>
{{include "bottom.html"}}