{{include "top.html"}}
<link rel="stylesheet" type="text/css" href="/chickenkiller/style.css">
<script src="/chickenkiller/script.js"></script>

<h1>Chickenkiller</h1>
<div id="game">
    <img src="/chickenkiller/background.png" id="background"></img>
    <img src="/chickenkiller/chicken.png" class="chicken" id="chicken-0"></img>
    <img src="/chickenkiller/chicken.png" class="chicken" id="chicken-1"></img>
    <img src="/chickenkiller/chicken.png" class="chicken" id="chicken-2"></img>
    <img src="/chickenkiller/chicken.png" class="chicken" id="chicken-3"></img>
    <img src="/chickenkiller/chicken.png" class="chicken" id="chicken-4"></img>
    <img src="/chickenkiller/chicken.png" class="chicken" id="chicken-5"></img>
    <img src="/chickenkiller/chicken.png" class="chicken" id="chicken-6"></img>
    <img src="/chickenkiller/chicken.png" class="chicken" id="chicken-7"></img>
    <img src="/chickenkiller/gnome.png" class="gnome" id="gnome-0"></img>
    <img src="/chickenkiller/gnome.png" class="gnome" id="gnome-1"></img>
    <img src="/chickenkiller/gnome.png" class="gnome" id="gnome-2"></img>
    <img src="/chickenkiller/gnome.png" class="gnome" id="gnome-3"></img>
    <img src="/chickenkiller/gnome.png" class="gnome" id="gnome-4"></img>
    <img src="/chickenkiller/gnome.png" class="gnome" id="gnome-5"></img>
    <img src="/chickenkiller/gnome.png" class="gnome" id="gnome-6"></img>
    <img src="/chickenkiller/gnome.png" class="gnome" id="gnome-7"></img>
    <img src="/chickenkiller/foreground.png" id="foreground"></img>
</div>
{{include "bottom.html"}}