{{include "top.html"}}
	<title>FlappyBird</title>
	<!-- CSS and JavaScript Files -->
	<link rel="stylesheet" type="text/css" href="/flappybird/flappybird.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js"></script>

	<div class="title">FlappyBird</div>

	<script src="/flappybird/flappybird.js"></script>
	<script src="/flappybird/bird.js"></script>
	<script src="/flappybird/pipe.js"></script>
	

	<div class="newGame">
		<button onclick='setup();'>New Game</button>
	</div>

</body>
</html>
