	{{include "nav.html"}}
	<title>Games</title>
	<link rel="stylesheet" type="text/css" href="profile.css">

	<main>
		<div class="choose">
			<h2>Change Information</h2>
			<a href="/changeusername"><button>Username</button></a>
			<a href="/changepwd"><button>Password</button></a>
			<a href="/changemail"><button>E-mail</button></a>
			<button>Delete Account</button>
		</div>
		<div class="change">
			<h2>Password</h2>
			<form action="" method="POST">
				<input type="password" name="pwd" placeholder="New Password" id="pwd"><br>
				<input type="password" name="rpt-pwd" placeholder="Reapet Password" id="pwd"><br>
				<button id="pwd">Submit</button>
			</form>
		</div>
	</main>

</body>
</html>