	{{include "nav.html"}}
	<title>Games</title>
	<link rel="stylesheet" type="text/css" href="login.css">

	
	<main>
		<div class="panel">
			<a href="/signup">
				<div class="unit" id="signup">
					Sign up
				</div>
			</a>
			<a>
				<div class="unit" id="login">
					Login
				</div>
			</a>	
		</div>

		<h2>Login</h2>
		<form action="" method="POST">
			<input type="text" name="uid" placeholder="Username"><br>
			<input type="password" name="pwd" placeholder="Password"><br>
			<button type="submit">Login</button>
		</form>
		<p>Don't have an account? Sign up <a href="/signup">here</a></p>
	</main>

</body>
</html>