<!DOCTYPE html>
<html>
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- CSS and JavaScript files -->
	<link rel="stylesheet" type="text/css" href="resetAttributes.css">
	<link rel="stylesheet" type="text/css" href="nav.css">
	<script type="text/javascript" src="navfunction.js"></script>
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>

	<nav id="nav">
		<!-- Controll for sidebar -->
		<div class="controllnav" onclick="controllNav()">
			<img src="img/menu.png">
		</div>
		<!-- Pushes down links -->
		<div class="nothingbox"></div>
		<!-- links -->
		<a href="/"><h2>HOME</h2></a>
		<a href="/minesweeper"><h2>MINE-SWEEPER</h2></a>
		<a href="/battleship"><h2>BATTLESHIP</h2></a>
		<div class="line"></div>
		<a onclick="openlogin()"><h2>Login</h2></a>
		<a onclick="opensignup()"><h2>Sign Up</h2></a>
		<a onclick="openprofile()"><h2>Profile</h2></a>
	</nav>

	<!-- Sign-up Form -->
	<div class="form" id="signup">
		<div class="pic">
			<img src="img/game.jpg">
		</div>
		<div class="information">
			<h2>Sign up</h2>
			<form action="#">
				<input type="text" name="uid" placeholder="Username" autocomplete="off">
				<input type="text" name="mail" placeholder="E-Mail" autocomplete="off">
				<input type="password" name="pwd" placeholder="Password" autocomplete="off">
				<input type="password" name="rpt-pwd" placeholder="Repeat Password" autocomplete="off"><br>
				<button type="submit"><span>Submit</span></button>
			</form>
			<p>Have an account? Login <a onclick="openlogin()">here</a></p>
		</div>
	</div>


	<!-- Login Form -->
	<div class="form" id="login">
		<div class="pic">
			<img src="img/game.jpg">
		</div>
		<div class="information">
			<h2>Login</h2>
			<form action="#">
				<input type="text" name="uid" placeholder="Username" autocomplete="off">
				<input type="password" name="pwd" placeholder="Password" autocomplete="off"><br>
				<button type="submit"><span>Submit</span></button>
			</form>
			<p><a>Forgot my password</a><br>
			Don't have an account? <br>Sign up <a onclick="opensignup()">here</a></p>
		</div>
	</div>


	<!-- Profile Form -->
	<div class="form" id="profile">

		<!-- The Image -->
		<div class="pic">
			<img src="img/game.jpg">
		</div>

		<!-- All Buttons to al possible Settings -->
		<div class="information" id="overview">
			<h2>Profile</h2>
			<button onclick="openuid()"><span>Change Username</span></button>
			<button onclick="openmail()"><span>Change E-mail</span></button>
			<button onclick="openpwd()"><span>Change Password</span></button>
			<button onclick=""><span>Log Out</span></button>
			<button onclick=""><span>Delete Account</span></button>
		</div>

		<!-- Change Username -->
		<div class="information" id="uid">
			<h2>Change Username</h2>
			<form action="#"><br>
				<input type="text" name="uid" placeholder="Username">
				<button><span>Submit</span></button>
			</form>
			<p><a onclick="backtoprofile()">Go back to Profile</a></p>
		</div>

		<!-- Change E-mail -->
		<div class="information" id="mail">
			<h2>Change E-mail</h2>
			<form action="#"><br>
				<input type="text" name="mail" placeholder="E-mail">
				<button><span>Submit</span></button>
			</form>
			<p><a onclick="backtoprofile()">Go back to Profile</a></p>
		</div>

		<!-- Change E-mail -->
		<div class="information" id="pwd">
			<h2>Change Password</h2>
			<form action="#"><br>
				<input type="password" name="mail" placeholder="Password">
				<input type="password" name="mail" placeholder="repeat Password">
				<button><span>Submit</span></button>
			</form>
			<p><a onclick="backtoprofile()">Go back to Profile</a></p>
		</div>
	</div>


	<!-- This is a hidden background that closes the element open-->
	<div class="clicker" id="clicker" onclick="closeform()"></div>
