<!DOCTYPE html>
<html>
<head>
	
	<meta charset="utf-8">
	<!-- CSS and JavaScript files -->
	<link rel="stylesheet" type="text/css" href="resetAttributes.css">
	<link rel="stylesheet" type="text/css" href="nav.css">
	<script type="text/javascript" src="indexfunction.js"></script>
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>

	<nav id="nav">
		<!-- Controll for sidebar -->
		<div class="controllnav" onclick="controllNav()">
			<img src="img/menu.png">
		</div>
		<!-- Pushes down links -->
		<div class="nothingbox"></div>
		<!-- links -->
		<a href="/"><h2>HOME</h2></a>
		<a href="/minesweeper"><h2>MINE-SWEEPER</h2></a>
	</nav>
