{{include "top.html"}}
{{include "profile/password-checker.html"}}
<link rel="stylesheet" type="text/css" href="/css/profile.css">

<main>
	{{include "profile/profile-buttons.html"}}
	<div class="change">
		<h2>Password</h2>
		{{include "messages.html"}}
		<form action="" method="POST">
			<input type="password" name="password" placeholder="New Password" id="password"><br>
			<input type="password" name="repeat-password" placeholder="Repeat Password" id="repeat-password"><br>
			<button id="submit">Submit</button>
		</form>
	</div>
</main>
{{include "bottom.html"}}

