{{include "top.html"}}
{{include "profile/password-checker.html"}}
<link rel="stylesheet" type="text/css" href="/css/profile.css">

<main>
	{{include "profile/profile-buttons.html"}}
	<div class="change">
		<h2>{{print translate "password"}}</h2>
		{{include "messages.html"}}
		<form action="" method="POST">
			<input type="password" name="password" placeholder="{{print translate "new-password"}}" id="password"><br>
			<input type="password" name="repeat-password" placeholder="{{print translate "repeat-password"}}" id="repeat-password"><br>
			<button id="submit">{{print translate "submit"}}</button>
		</form>
	</div>
</main>
{{include "bottom.html"}}

