{{include "top.html"}}
    <link rel="stylesheet" type="text/css" href="/profile.css">

    <main>
        {{include "profile/profile-buttons.html"}}
        <div class="change">
            <h2>Mail</h2>
            <form action="/profile/email" method="POST">
                <input type="text" name="email" placeholder="New E-mail" value="{{print get "email" variables}}"><br>
                <button>Submit</button>
                {{include "messages.html"}}
            </form>
        </div>
    </main>
{{include "bottom.html"}}

