{{include "top.html"}}
    <link rel="stylesheet" type="text/css" href="/css/profile.css">

    <main>
        {{include "profile/profile-buttons.html"}}
        <div class="change">
            <h2>Mail</h2>
            {{include "messages.html"}}
            <form action="/profile/email" method="POST">
                <input type="text" name="email" placeholder="{{print translate "new-mail"}}" value="{{print get "email" variables}}"><br>
                <button>{{print translate "submit"}}</button>       
            </form>
        </div>
    </main>
{{include "bottom.html"}}

