{{include "top.html"}}
    <link rel="stylesheet" type="text/css" href="/css/profile.css">

    <main>
        {{include "profile/profile-buttons.html"}}

        <div class="change">
            <h2>{{print translate "hello"}} {{print htmlencode get "username" variables}}!</h2>
            <h3>
                {{
                    if not get "activated" variables
                        print translate "account-not-activated"
                    end
                    if get "activated" variables
                        print translate "account-activated"
                    end
                }}
            </h3>
            <h2>{{print translate "notifications"}}</h2>
            <a class="button" href="/profile/notifications"><button>{{
                if get "notifications" variables
                    print translate "disable-notifications"
                end
                if not get "notifications" variables
                    print translate "enable-notifications"
                end 
            }}</button></a>
      
           
            <h2>{{print translate "booster"}}</h2>
            <h3>
                {{
                    print translate "booster-remaining-time"
                    print ": "
                    print get "booster-time" variables
                    print " "
                    print translate "minutes"
                }}
            </h3>
            <a href="/profile/boost"><button>{{
                if get "booster-enabled" variables
                    print translate "disable-booster"
                end
                if not get "booster-enabled" variables
                    print translate "enable-booster"
                end 
            }}</button></a>
        </div>
    </main>
{{include "bottom.html"}}
