{{include "top.html"}}
{{include "profile/password-checker.html"}}
<link rel="stylesheet" type="text/css" href="/css/sign-in-up.css">

<main>
    <div class="panel">
        <a>
            <div class="unit" id="signup">
                {{print translate "signup"}}
            </div>
        </a>
        <a href="/signin">
            <div class="unit" id="login">
                {{print translate "login"}}
            </div>
        </a>	
    </div>

    <h2>{{print translate "signup"}}</h2>
    {{include "messages.html"}}
    <form action="/signup" method="POST">
        <input type="text" name="username" placeholder="{{print translate "username"}}"><br>
        <input type="text" name="email" placeholder="E-mail"><br>
        <input type="password" name="password" placeholder="{{print translate "password"}}" id="password"><br>
        <input type="password" name="repeat-password" placeholder="{{print translate "repeat-password"}}" id="repeat-password"><br>
        <button type="submit" id="submit">{{print translate "signup"}}</button>
    </form>
</main>

{{include "bottom.html"}}