html, body{
    background-color: #dfdfff;
}

h1{
    text-align: center;
    font-family: cursive;
    font-size: 32px;
    padding: 16px;
}

#game{
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 512px;
}

#game *{
    position: absolute;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#background, #foreground{
    width: 100%;
}

.chicken, .gnome{
    width: 25%;
    transform-origin: bottom left;
    transform: rotateX(90deg);
    transition: transform 500ms;
}

.chicken.active, .gnome.active{
    transform: rotateX(0deg);
}

#chicken-0, #chicken-4, #gnome-0, #gnome-4{
    left: 0%;
}

#chicken-1, #chicken-5, #gnome-1, #gnome-5{
    left: 25%;
}

#chicken-2, #chicken-6, #gnome-2, #gnome-6{
    left: 50%;
}

#chicken-3, #chicken-7, #gnome-3, #gnome-7{
    left: 75%;
}

#chicken-0, #chicken-1, #chicken-2, #chicken-3, #gnome-0, #gnome-1, #gnome-2, #gnome-3{
    bottom: -256px;
}

#chicken-4, #chicken-5, #chicken-6, #chicken-7, #gnome-4, #gnome-5, #gnome-6, #gnome-7{
    bottom: -384px;
}

@media only screen and (max-width: 512px){

    #chicken-0, #chicken-1, #chicken-2, #chicken-3, #gnome-0, #gnome-1, #gnome-2, #gnome-3{
        bottom: -50vw;
    }

    #chicken-4, #chicken-5, #chicken-6, #chicken-7, #gnome-4, #gnome-5, #gnome-6, #gnome-7{
        bottom: -75vw;
    }

  }