html, body{
    background-color: white;
}

h1, h2{
    text-align: center;
    font-family: cursive;
    padding: 16px;
}

h1{
    font-size: 32px;
}

h2{
    font-size: 24px;
}

#game{
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 512px;
}

#overlay{
    width: 100%;
}

#start, #gameover{
    box-sizing: border-box;
    width: 256px;
    height: 192px;
    margin-left: calc(calc(100% - 256px) / 2);
    margin-top: calc(calc(100% - 192px) / 2);
    padding: 16px;
    background-color: white;
    border-radius: 16px;
    border: 2px solid black;
}

#gameover{
    display: none;
}

p{
    text-align: center;
}

button{
    display: block;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
    outline: none;
    background-color: lightgray;
    border-radius: 16px;
    border: 2px solid black;
    transition: transform 200ms;
}

button:hover{
    transform: scale(1.1);
}

#game > *{
    position: absolute;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#background, #foreground{
    width: 100%;
}

.chicken, .gnome{
    width: 25%;
    transform-origin: bottom left;
    transform: rotateX(90deg);
    transition: transform 200ms;
}

.chicken.active, .gnome.active{
    transform: rotateX(0deg);
}

#chicken-0, #chicken-4, #gnome-0, #gnome-4{
    left: 0%;
}

#chicken-1, #chicken-5, #gnome-1, #gnome-5{
    left: 25%;
}

#chicken-2, #chicken-6, #gnome-2, #gnome-6{
    left: 50%;
}

#chicken-3, #chicken-7, #gnome-3, #gnome-7{
    left: 75%;
}

#chicken-0, #chicken-1, #chicken-2, #chicken-3, #gnome-0, #gnome-1, #gnome-2, #gnome-3{
    bottom: -256px;
}

#chicken-4, #chicken-5, #chicken-6, #chicken-7, #gnome-4, #gnome-5, #gnome-6, #gnome-7{
    bottom: -384px;
}

@media only screen and (max-width: 512px){

    #chicken-0, #chicken-1, #chicken-2, #chicken-3, #gnome-0, #gnome-1, #gnome-2, #gnome-3{
        bottom: -50vw;
    }

    #chicken-4, #chicken-5, #chicken-6, #chicken-7, #gnome-4, #gnome-5, #gnome-6, #gnome-7{
        bottom: -75vw;
    }

    #start, #gameover{
        margin-top: calc(calc(100vw - 192px) / 2);
    }

  }