{{include "top.html"}}
<link rel="stylesheet" type="text/css" href="/css/index.css">

<h1>We Serve Games!</h1>

<main>
	<div class="container" onclick="location.href='/games/minesweeper';">
		<div class="pic">
			<img src="img/minesweeper.jpg">
		</div>
		<div class="content">
			
		</div>
	</div>
	<div class="container" onclick="location.href='/games/flappybird';">
		<div class="pic">
			<img src="img/flappybird.png">
		</div>
		<div class="content">
			
		</div>
	</div>
</main>
{{include "bottom.html"}}