{{include "top.html"}}
<link rel="stylesheet" type="text/css" href="/css/index.css">

<h1>We Serve Games!</h1>
<h3 id="users-online">
	{{
		if not equals get "players-online" variables 1
			print get "players-online" variables
			print " "
			print translate "players-online"
		end
	}}
</h3>
<h3 id="fame-points">
	{{
		if not equals get "username" variables null
			if not equals get "fame-per-minute" variables 0
				print get "fame-per-minute" variables
				print " "
				print translate "fame-per-minute"
				if get "booster-active" variables
					print " ("
					print translate "booster-active"
					print ")"
				end
			end
		end
	}}
</h3>

<main>
	<div class="container"  id="container" onclick="location.href='/games/minesweeper';">
		<div class="pic">
			<img src="/minesweeper/img/minesweeper.png">
		</div>
		<div class="content" id="minesweeper">
			<h2>Minesweeper</h2>
		</div>
	</div>
	<div class="container" id="container" onclick="location.href='/games/flappybird';">
		<div class="pic">
			<img src="/flappybird/img/flappybird.png">
		</div>
		<div class="content" id="flappybird">
			<h2>Flappybird</h2>
		</div>
	</div>
	<div class="container" id="container" onclick="location.href='/games/brickbreaker';">
		<div class="pic">
			<img src="/brickbreaker/img/brickbreaker.png">
		</div>
		<div class="content" id="brickbreaker">
			<h2 id="brickbreaker">Brick Breaker</h2>
		</div>
	</div>
	<div class="container" id="container" onclick="location.href='/games/chickenkiller';">
		<div class="pic">
			<img src="/chickenkiller/img/chickenkiller.png">
		</div>
		<div class="content" id="chickenkiller">
			<h2>Chicken Killer</h2>
		</div>
	</div>
	
	<!-- Hidden for content to align correctly (flexbox spacearound) -->
	<div class="placer"></div>
	<div class="placer"></div>
	<div class="placer"></div>
</main>
<div class="js-cursor-container"></div>


{{include "bottom.html"}}
<script type="text/javascript" src="/js/mouseeffect.js"></script>


