{{include "top.html"}}
<!-- CSS and JavaScript Files -->
<link rel="stylesheet" type="text/css" href="/css/lottery.css">
<link rel="stylesheet" type="text/css" href="/css/flipclock.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/flipclock.js"></script>


<main>
	<h1>{{print translate "lottery"}}</h1>

	{{
		if not equals get "last-winner" variables null
			print "<div class=\"last-winner\"><h2>"
			print translate "last-winner"
			print ": </h2>" 
			print "<h2><span class=\"bold\">"
			print get "last-winner" variables
			print "</span></h2></div>"
		end
	}}

	<div class="last-winner">
		<h2>{{print translate "time-draw"}}</h2>
	
		<div class="timer">
			<div class="clock"></div>
		</div>
	</div>

	<h3>{{print translate "enter"}}
		<span class="bold">
			{{print get "total-lots" variables}}
		</span>
		{{print " " 
		print translate "coins"
	}}</h3>

	<img src="/img/lottery.png">

	<script type="text/javascript">
		window.addEventListener("load", function() {
			change();
			function change(){
				let val = document.getElementById("input-num").value;
				if (val <= 0) {
					document.getElementById("input-num").value = 1;
					document.getElementById("button-num").innerHTML = 1;
				}
				else{
					document.getElementById("button-num").innerHTML = val;
				}
			}
			document.getElementById("input-num").addEventListener("keyup", change);
			document.getElementById("input-num").addEventListener("change", change);
		});
	</script>

	<div class="placer">
		{{include "messages.html"}}
		<form method="POST">
			<input type="number" id="input-num" name="amount" placeholder="Amount of Tickets" value="1" min="1">
			<button>{{print translate "buy-ticket"}}! <span id="button-num">1</span> <img src="/img/coin.png"></button>
		</form>
	</div>

	<h2>{{print translate "have-bought"}} <span class="bold">{{print get "my-lots" variables}}</span> tickets</h2>

</main>

<script type="text/javascript">
	var clock = $('.clock').FlipClock(({{print get "season-duration" variables}})*60, {
		clockFace: 'DailyCounter',
		countdown: true
    });
    // Reloads the page
    setTimeout(function(){
        location.reload(); 
    }, ({{print get "season-duration" variables}})*60*100);

</script>

{{include "bottom.html"}}