{{include "top.html"}}
<!-- CSS and JavaScript Files -->
<link rel="stylesheet" type="text/css" href="/css/lottery.css">
<link rel="stylesheet" type="text/css" href="/css/flipclock.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/flipclock.js"></script>


<main>
	<h1>{{print translate "lottery"}}</h1>

	<h3>{{print translate "time-draw"}}</h3>
	<div class="timer">
		<div class="clock"></div>
	</div>

	<h2>{{print translate "enter"}}
		<span class="bold">
			{{print get "total-lots" variables}}
		</span>
		{{print " " 
		print translate "coins"
	}}</h2>

	<img src="/img/lottery.png">

	<div class="placer">
		<form>
			<input type="number" id="input-num" name="num-tickets" placeholder="Amount of Tickets" value="1" onchange="amount();">
			<button>{{print translate "buy-ticket"}}! <span id="button-num">1</span> <img src="/img/coin.png"></button>
		</form>
	</div>

	<h2>{{print translate "have-bought"}}
		<span class="bold">{{print get "my-lots" variables}}</span>
	 	tickets</h2>
	<h2>{{
		if not equals get "last-winner" variables null
			print translate "last-winner"
			print ": " 
			print get "last-winner" variables
		end
	}}</h2>
</main>

<script type="text/javascript">
	var clock = $('.clock').FlipClock(({{print get "season-duration" variables}}+1)*60, {
		clockFace: 'DailyCounter',
		countdown: true
    });
    // Reloads the page
    setTimeout(function(){
        location.reload(); 
    }, ({{print get "season-duration" variables}}+1)*60*100);

    function amount(){
    	let val = document.getElementById("input-num").value;
    	if (val <= 0) {
    		document.getElementById("input-num").value = 1;
    		document.getElementById("button-num").innerHTML = 1;
    	}
    	else{
    		document.getElementById("button-num").innerHTML = val;
    	}
    }
</script>

{{include "bottom.html"}}