<nav id="nav">
	<!-- Controll for sidebar -->
	<div class="controllnav" onclick="controllNav()">
		<img src="/img/menu.png">
	</div>
	<!-- Pushes down links -->
	<div class="nothingbox"></div>
	<!-- links -->
	<a href="/"><h2>HOME</h2></a>
	<a href="/games/minesweeper"><h2>MINE-SWEEPER</h2></a>
	<div class="line"></div>
	{{
		if equals get "username" variables null
			print "<a href=\"/signin\"><h2>Login</h2></a>"
			print "<a href=\"/signup\"><h2>Sign up</h2></a>"
		end
		if not equals get "username" variables null
			print "<a href=\"/profile\"><h2>Profile</h2></a>"
		end
	}}
	
</nav>

<!-- This is a hidden background that closes the element open-->
<div class="clicker" id="clicker" onclick="closeform()"></div>