<nav id="nav">
	<!-- Controll for sidebar -->
	<div class="controllnav" onclick="controllNav()">
		<img src="/img/menu.png">
	</div>
	<!-- Pushes down links -->
	<div class="nothingbox"></div>

<div class="container-links">
	<!-- links -->
	<a class="nav-links" href="/"><h2 class="button">{{print translate "home"}}</h2></a>
	<div class="line"></div>
	<a class="nav-links" href="/games/minesweeper"><h2 class="button">Minesweeper</h2></a>
	<a class="nav-links" href="/games/flappybird"><h2 class="button">Flappy Bird</h2></a>
	<a class="nav-links" href="/games/brickbreaker"><h2 class="button">Brick Breaker</h2></a>
	<a class="nav-links" href="/games/chickenkiller"><h2 class="button">Chicken Killer</h2></a>
	<a class="nav-links" href="/games/runner"><h2 class="button">Runner</h2></a>
	<div class="line"></div>
	<a class="nav-links" href="/scoreboard"><h2 class="button">{{print translate "scoreboard"}}</h2></a>
	{{
		if not equals get "username" variables null
			print "<a class=\"nav-links\" href=\"/quests\"><h2 class=\"button\">Quests</h2></a>"
			print "<a class=\"nav-links\" href=\"/wheel\"><h2 class=\"button\">"
			print translate "wheel"
			print "</h2></a>"
			print "<a class=\"nav-links\" href=\"/lottery\"><h2 class=\"button\">"
			print translate "lottery"
			print "</h2></a>"
		end
	}}
	<div class="line"></div>
	{{
		if equals get "username" variables null
			print "<a class=\"nav-links\" href=\"/signin\"><h2 class=\"button\">"
			print translate "login"
			print "</h2></a>"
			print "<a class=\"nav-links\" href=\"/signup\"><h2 class=\"button\">"
			print translate "signup"
			print "</h2></a>"
		end
		if not equals get "username" variables null
			print "<a class=\"nav-links\" href=\"/profile\"><h2 class=\"button\">"
			print translate "profile"
			print "</h2></a>"
			print "<h2 class=\"button\"><img src=\"/img/coin.png\">"
			print " "
			print get "coins" variables
			print "</h2>"
		end
	}}
</div>
</nav>

<!-- This is a hidden background that closes the element open-->
<div class="clicker" id="clicker" onclick="closeform()"></div>