{{include "top.html"}}
<!-- CSS and JavaScript Files -->
<link rel="stylesheet" type="text/css" href="/css/quests.css">


<main>
	<h1>Quests</h1>

</main>
<script>
	let data = {{print get "json" variables}};
	// Create the Quests
	let main = document.getElementsByTagName("main");
	let progresses = new Array();
	for (let i = 0; i < data.length; i++) {

		// Initialize Quest Information
		let titleText = data[i].name;
		let amount = data[i].times;
		let score = data[i].score;
		let rewardPoints = data[i].reward;
		let progressPercent = data[i].progress;
		progresses.push(progressPercent);
		let game = data[i].game;
		let time = data[i].duration;
		let min = time % 60;
		let hour = Math.floor(time/60);
		let completed = data[i].completed;
		let gameText;
		switch(game){
			case "flappybird": gameText = "Flappy Bird"; break;
			case "brickbreaker": gameText = "Brick Breaker"; break;
			case "minesweeper": gameText = "Minesweeper"; break;
			default:
		}

		switch(titleText){
			case "quest-flappybird-1": titleText = "Flippy de Flap Flap"; break;
			case "quest-flappybird-2": titleText = "Up Up and Away"; break;
			case "quest-flappybird-3": titleText = "Flappy Hero"; break;
			case "quest-brickbreaker-1": titleText = "Breaking them Bricks"; break;
			case "quest-brickbreaker-2": titleText = "No Build only Break"; break;
			case "quest-brickbreaker-3": titleText = "Breakthrough"; break;
			case "quest-minesweeper-1": titleText = "Booooom"; break;
			case "quest-minesweeper-2": titleText = "Catch them all"; break;
			case "quest-minesweeper-3": titleText = "Flag them up"; break;
			default:
		}

		// Text versions
		let contentText = "{{print translate "reach"}} " + amount + " {{print translate "times-the-score"}} " + score + " {{print translate "in-the-game"}} " + gameText;
		let rewardText = "{{print translate "reward"}}: " + rewardPoints + " {{print translate "coins"}}";

		if (completed) {
			var progressText = "{{print translate "completed"}}";
			var timeLeftText = "";
		}
		else{
			var progressText = progressPercent + "%";
			if (hour === 0) {
				var timeLeftText = "{{print translate "time-remaining"}}: " + min + "min";
			}
			else{
				var timeLeftText = "{{print translate "time-remaining"}}: " + hour + "h " + min + "min";
			}
		}

		// Quest DOM Html Elements 
		let quest = document.createElement('div');
		quest.setAttribute("class","quest");

		let title = document.createElement('div');
		title.setAttribute("class","title");
		title.innerHTML = titleText;

		let content = document.createElement('div');
		content.setAttribute("class","content");
		content.innerHTML = contentText;

		let clicker = document.createElement('a');
		clicker.setAttribute("class","clicker");
		clicker.setAttribute("href","/games/"+game);

		let img = document.createElement('img');
		img.setAttribute("src","/"+game+"/img/"+game+".png");
		clicker.appendChild(img);

		let status = document.createElement('div');
		status.setAttribute("class","status");

		let bar = document.createElement('div');
		bar.setAttribute("class","bar");
		bar.id = "bar" + i;
		
		let progress = document.createElement('div');
		progress.setAttribute("class","progress");
		progress.id = "progress" + i;

		let h2 = document.createElement('h2');
		h2.innerHTML = progressText;

		bar.appendChild(progress);
		bar.appendChild(h2);
		status.appendChild(bar);

		let reward = document.createElement('div');
		reward.setAttribute("class","reward");
		reward.innerHTML = rewardText;

		let timeleft = document.createElement('div');
		timeleft.setAttribute("class","timeleft");
		timeleft.innerHTML = timeLeftText;

		quest.appendChild(title);
		quest.appendChild(content);
		quest.appendChild(clicker);
		quest.appendChild(status);
		quest.appendChild(reward);
		quest.appendChild(timeleft);
		main[0].appendChild(quest);
	}

	// This is to align the third Quest when on the second line
	let place = document.createElement('div');
	place.setAttribute("class","place");
	main[0].appendChild(place);

	for (let i = 0; i < data.length; i++) {
		let w = document.getElementById("bar" + i).offsetWidth;
		document.getElementById("progress" + i).style.width = w/100*progresses[i] + "px";
	}

</script>

{{include "bottom.html"}}