{{include "top.html"}}
<link rel="stylesheet" type="text/css" href="/css/scoreboard.css">

<div class="pick">
	<div class="list">
		<button id="0">Hall of fame</button>
		<button id="1">Minesweeper</button>
		<button id="2">Flappy Bird</button>
		<button id="3">Brick Breaker</button>
		<button id="4">Chicken Killer</button>
		<button id="5">Runner</button>
	</div>

	<div class="list" id="season">
		<button id="s1">Current Season</button>
		<button id="s2">All Time</button>
	</div>
</div>

<main>
	<h2 id="title">Hall of Fame</h2>

	<div id="table">
		<table id="list"></table> <!-- Gets replaced -->
	</div>

	<div class="text" id="text">
		{{print translate "hallOfFame"}}
	</div> <!-- If Scoreboard wants to give extra info text -->
	
</main>
	


</body>
</html>

<script>
	var season = {{print get "current-season" variables}}-1;
	var game = "";
	var numGames = 5;

	document.getElementById("0").style.backgroundColor = "#F3B54A";
	document.getElementById("s1").style.backgroundColor = "#F3B54A";
	document.getElementById("text").innerHTML = "{{print translate "hallOfFame"}}";
	document.getElementById("season").style.display = "none";
	hallOfFame();

	// Event Listeners, Games
	document.getElementById("0").addEventListener("click", function(){
		document.getElementById("title").innerHTML = "Hall of Fame";
		document.getElementById("text").innerHTML = "{{print translate "hallOfFame"}}";
		changeBackgroundColor("0");
		document.getElementById("season").style.display = "none";
		hallOfFame();
	});

	document.getElementById("1").addEventListener("click", function(){
		document.getElementById("title").innerHTML = "Minesweeper";
		document.getElementById("text").innerHTML = "";
		changeBackgroundColor("1");
		document.getElementById("season").style.display = "block";
		game = "minesweeper";
		loadGameScoreboard(game, season);
	});

	document.getElementById("2").addEventListener("click", function(){
		document.getElementById("title").innerHTML = "Flappy Bird";
		document.getElementById("text").innerHTML = "";
		changeBackgroundColor("2");
		document.getElementById("season").style.display = "block";
		game = "flappybird";
		loadGameScoreboard(game, season);
	});

	document.getElementById("3").addEventListener("click", function(){
		document.getElementById("title").innerHTML = "Brick Breaker";
		document.getElementById("text").innerHTML = "";
		changeBackgroundColor("3");
		document.getElementById("season").style.display = "block";
		game = "brickbreaker";
		loadGameScoreboard(game, season);
	});

	document.getElementById("4").addEventListener("click", function(){
		document.getElementById("title").innerHTML = "Chicken Killer";
		document.getElementById("text").innerHTML = "";
		changeBackgroundColor("4");
		document.getElementById("season").style.display = "block";
		game = "chickenkiller";
		loadGameScoreboard(game, season);
	});

	document.getElementById("5").addEventListener("click", function(){
		document.getElementById("title").innerHTML = "Runner";
		document.getElementById("text").innerHTML = "";
		changeBackgroundColor("5");
		document.getElementById("season").style.display = "block";
		game = "runner";
		loadGameScoreboard(game, season);
	});

	// Event Listeners, Season id's
	document.getElementById("s1").addEventListener("click", function(){
		changeBackgroundColorS("s1");
		season = {{print get "current-season" variables}}-1;
		loadGameScoreboard(game, season);
	});

	document.getElementById("s2").addEventListener("click", function(){
		changeBackgroundColorS("s2");
		season = -1;
		loadGameScoreboard(game, season);
	});

	// change backgroundcolor
	function changeBackgroundColor(id){
		// remove the current color
		for (var i = 0; i <= numGames; i++) {
			document.getElementById(i).style.backgroundColor = "";
		}
		// add new color
		document.getElementById(id).style.backgroundColor = "#F3B54A";
	}

	function changeBackgroundColorS(id){
		// remove the current color
		document.getElementById("s1").style.backgroundColor = "";
		document.getElementById("s2").style.backgroundColor = "";
		// add new color
		document.getElementById(id).style.backgroundColor = "#F3B54A";
	}


	// Tables
	function hallOfFame(){
		// get container
		var container = document.getElementById("table");

		loadPlayerRanking(function(fames){
			var table = document.createElement("table");
			var tr = document.createElement("tr");
			// Table head for Rank number
			var th0 = document.createElement("th");
			th0.appendChild(document.createTextNode("{{print translate "rank"}}"));
			tr.appendChild(th0);
			// Table head for Username
			var th1 = document.createElement("th");
			th1.appendChild(document.createTextNode("{{print translate "username"}}"))
			tr.appendChild(th1);
			// Table head for Fame
			var th2 = document.createElement("th");
			th2.appendChild(document.createTextNode("Fame"))
			tr.appendChild(th2);
			// Add the head row to table
			table.appendChild(tr);
			for (let i = 0; i < fames.length; i++) {
				// This is a table Row
				var tr = document.createElement("tr");
				tr.id = (i % 2 == 0) ? "even":"uneven";
				// get username and check if this is him
				var username = "{{print get "username" variables}}";
				if (username === fames[i].username) {
					tr.setAttribute("class", "user");
				}
				// Table for Rank number
				var tb0 = document.createElement("td");
				if (i == 0) {
					img = document.createElement("img");
					img.src = "/img/crown.svg";
					tb0.appendChild(img);
					tb0.id = "crown";
				}else{
					tb0.appendChild(document.createTextNode(i+1));
				}
				tr.appendChild(tb0);
				// Table body for Username
				var tb1 = document.createElement("td");

				tb1.appendChild(document.createTextNode(fames[i].username));


				var span = document.createElement("span");
				span.classList.add("medals");

				// Medals
				var medals = "";
				if(fames[i].medals.first > 0){
					medals += fames[i].medals.first + "🥇 "
				}
				if(fames[i].medals.second > 0){
					medals += fames[i].medals.second + "🥈 "
				}
				if(fames[i].medals.third > 0){
					medals += fames[i].medals.third + "🥉 "
				}
				if(fames[i].medals.participated > 0){
					medals += fames[i].medals.participated + "🎖️ "
				}
				if(medals.length > 0){
					medals = medals.substring(0, medals.length - 1);
					span.innerHTML = medals;
					tb1.appendChild(span);

				}


				tr.appendChild(tb1);
				// Table body for Fame
				var tb2 = document.createElement("td");
				tb2.appendChild(document.createTextNode(fames[i].fame));
				tr.appendChild(tb2);
				// Add Row to table
				table.appendChild(tr);
			}
			container.replaceChild(table, container.childNodes[0]);
		});
	}

	function loadGameScoreboard(game, currentSeason){
		// get container
		var container = document.getElementById("table");
		// {print get "current-season"}
		loadGameRanking(game, currentSeason, function(scores){
			var table = document.createElement("table");

			var tr = document.createElement("tr");
			// Table head for Rank number
			var th0 = document.createElement("th");
			th0.appendChild(document.createTextNode("{{print translate "rank"}}"));
			tr.appendChild(th0);
			// Table head for Username
			var th1 = document.createElement("th");
			th1.appendChild(document.createTextNode("{{print translate "username"}}"));
			tr.appendChild(th1);
			// Table head for Score
			var th2 = document.createElement("th");
			th2.appendChild(document.createTextNode("Score"));
			tr.appendChild(th2);
			// Add the head row to table
			table.appendChild(tr);
			for (let i = 0; i < scores.length; i++) {
				// This is a table Row
				var tr = document.createElement("tr");
				tr.id = (i % 2 == 0) ? "even":"uneven";
				// get username and check if this is him
				var username = "{{print get "username" variables}}";
				if (username === scores[i].username) {
					tr.setAttribute("class", "user");
				}
				// Table for Rank number
				var tb0 = document.createElement("td");
				if (i == 0) {
					img = document.createElement("img");
					img.src = "/img/crown.svg";
					tb0.appendChild(img);
					tb0.id = "crown";
				}else{
					tb0.appendChild(document.createTextNode(i+1));
				}
				tr.appendChild(tb0);
				// Table body for Username
				var tb1 = document.createElement("td");
				tb1.appendChild(document.createTextNode(scores[i].username));
				tr.appendChild(tb1);
				// Table body for Score
				var tb2 = document.createElement("td");
				tb2.appendChild(document.createTextNode(scores[i].score));
				tr.appendChild(tb2);
				// Add Row to table
				table.appendChild(tr);
			}
			container.replaceChild(table, container.childNodes[0]);
		});
	}

	function loadMyScores(action) {
	    getAjax("/scoreboard/self", function(text){
	        action(JSON.parse(text));
	    });
	}

    function loadGameRanking(game, season, action) {
	    getAjax("/scoreboard/games?game=" + game + "&season=" + season, function(text){
	        action(JSON.parse(text));
	    });
	}

	function loadPlayerRanking(action) {
	    getAjax("/scoreboard/players", function(text){
	        action(JSON.parse(text));
	    });
	}

	function getAjax(url, success) {
	    var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
	    xhr.open('GET', url);
	    xhr.onreadystatechange = function() {
	        if (xhr.readyState>3 && xhr.status==200) success(xhr.responseText);
	    };
	    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
	    xhr.send();
	    return xhr;
	}

</script>

