<!DOCTYPE html>
<html>
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>We Serve Games!</title>
	<!-- CSS and JavaScript files -->
	<link rel="stylesheet" type="text/css" href="/css/resetAttributes.css">
	<link rel="stylesheet" type="text/css" href="/css/nav.css">
	<script type="text/javascript" src="/js/navfunction.js"></script>
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
	{{include "nav.html"}}

	<script>
		window.addEventListener("load", function(){
			setTimeout(function() {
				var canvas = document.getElementsByTagName('canvas');
				if(canvas.length > 0){
					canvas[0].onselectstart = function(){return false;}
				}
			}, 1000);
		});
	</script>